.seo_snippet {
    background-color: #fff;
    padding: 12px;
    font-family: "Helvetica Neue",Arial,sans-serif;
}

.seo_snippet .url {
    color: #3C4043;
    font-size: 14px;
    line-height: 1.54;
    margin-bottom: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.seo_snippet .url .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.seo_snippet .title {
    color: #1a0dab;
    font-size: 20px;
    line-height: 1.3;
    overflow: hidden;
    padding-right: 16.5px;
    height: 1.3em;
    padding-top: 0px;
    margin-bottom: 3px;
    cursor: pointer;
}

.seo_snippet .description {
    color: #3C4043;
    font-size: 14px;
    line-height: 1.57;
}
